%h1 About This Application

%p.lead
  What is this application stack?
  %br
  How about that madman who built this application single-handedly?

%p.lead
  Built in
  %strong Ruby
  with
  %strong Sinatra
  web framework, PostgreSQL, JavaScript, HAML, and Stylus.
  %br
  Built by someone who working at
  %strong Bukalapak
  as
  %strong Software Engineer (Backend)
  Part Time.

%p.lead
  The point is, there are many people like this in Proclub.
  Join now and becomes one!

%div{style: 'padding: 5em'}
